<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>My Canvas Games Sandbox</title>
</head>
<body>
  <h1>My Canvas Games Sandbox</h1>
  <ul>
    <li><a href="games/bouncing_balls/index.html">Bouncing Balls</a></li>
    <li><a href="games/breakout/index.html">Breakout</a></li>
    <li><a href="games/tetris_basic/index.html">Tetris Basic</a></li>
    <li><a href="games/tetris_demo_play/index.html">Tetris Demo Play</a></li>
  </ul>

  <% for (var index in htmlWebpackPlugin.files.js) { %>
    <script src="<%= htmlWebpackPlugin.files.js[index] %>"></script>
  <% } %>

  <hr />
</body>
</html>